.App {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #03606a;
    a {
        color: #03606a;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}